*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:"agrandir-Tight";
    src: url("font/Agrandir-Tight.otf");
}
@font-face {
    font-family:"agrandir-Narrow";
    src: url("font/Agrandir-Narrow.otf");
}
@font-face {
    font-family:"agrandir-regular";
    src: url("font/Agrandir-Regular.otf");
}
:root{
    ---background-main:#E7DFD8;
    ---btn-apresentation:#e6d5ce;
    ---font-color:#170C04;
    ---spam-color:#E8B298;
    ---background-footer:#FDF5E6;
    ---btn-footer:#E7DFD8;
}
body{
    background-color: var(---background-main);
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}






header {
    position: fixed;
    left: 0px;
    top: 0;
    width: 100vw;
    background:#e7dfd8a4;
    backdrop-filter: blur(1rem);
    z-index: 100;
}
.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 4rem;
    justify-content: space-between;
    font-family: "agrandir-Narrow";
    color: #170c04c9;
    font-size: 0.7rem;
}

.checkbox-input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-content{
    fill: #170C04;
}

/* DARK MODE*/

.dark h1,
.dark h2,
.dark #title-apresentation,
.dark #subtitle-apresentation,
.dark #article-about{
    color: #A6A6A6;
}
.dark .my-port,
.dark #name-header {
    font-family: "agrandir-Tight";
    color: #592316;
}
.dark .btn-apresentation{
    background-color: #592316;
    color: #170C04;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
}
.dark .apresetation {
    box-shadow: 0px 0px 34px #0000005e;
}
.dark #p-apresentation {
    font-family: "agrandir-Tight";
    color: #592316;
}
.dark .project-description {
    padding: 0.5rem;
    color: #A6A6A6;
    font-family: "agrandir-Tight";
    width: 24vw;
}
body.dark {
    background: #0D0D0D;
}
.dark header {
    background: #0d0d0d3b;
    backdrop-filter: blur(2rem);
}
.dark .line {
    width: 2px;
    background-color:#592316;
    height: 15rem;
}
.checkbox-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.icons-header {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    padding-top: 0.5rem;
}
.dark .icon-content{
    fill: #592316;
    padding-bottom:0;
    padding: -0.1;
}
.dark .list-content {
    background-color: transparent;
}
.dark .icons a {
    cursor: pointer;
    background-color: #592316;
    border: 1px solid #592316;
}
.dark .icons a:hover{
    padding: 0.7rem;
    background-color: #501e11 ;
    margin-top: -0.8rem;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.172);
}
.icons-header img {
    width: 1.5rem;
}

.dark #copy{
    color: #A6A6A6;
}
.dark #copy a {
    color: #592316;
}
.dark footer {
    background: #0D0D0D;
}
.dark .exerternal-page-icon{
    fill: #592316;
}



.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    background-color: #0D0D0D;
    border-radius: 57px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    position: relative;
    height: 22px;
    width: 37px;
    transform: scale(1.5);
}
.label .ball {
    background-color: var(---background-main);
    border-radius: 65%;
    position: absolute;
    top: 2px;
    left: 3px;
    height: 18px;
    width: 18px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
.fa-moon {
    color: #f1c40f;
}
.fa-sun {
    color: #f39c12;
}















.apresetation {
    width: 90vw;
    height: 80vh;
    border-radius: 0rem;
    margin: 6rem auto;
    text-align: center;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.076);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#p-apresentation{
    font-family:"agrandir-Tight";
    color: var(---spam-color);
}
#title-apresentation{
    font-family:"agrandir-regular";
    font-size: 3rem;
    color:#170c04b5;
}
#subtitle-apresentation{
    font-family:"agrandir-regular";
    color:#170c04b5;
}
.buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.btn-apresentation{
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: var(---font-color);
    padding: 0.5rem 1rem;
    border: none;
    color: var(---btn-apresentation);
    cursor: pointer;
    font-family:"agrandir-Tight";
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
}














.my-port{
    font-family:"agrandir-Tight";
    color: var(---spam-color);
}
.subtitles{
    font-family:"agrandir-regular";
    margin-bottom: 1rem;
    color:#170c04b5;
}
.about-me {
    width: 80vw;
    height: 80vh;
    margin: auto;
    margin-top:6rem;
}
#my-picture {
    width: 400px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 14px #00000036;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#article-about{
    width: 50%;
    color:#170c04b5;
    font-family:"agrandir-Narrow";
}
#article-about p {
    font-size: 1.5rem;
    width: 40rem;
}





.projects {
    width: 80vw;
    margin: auto;
    height: auto;
}
.projects-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10rem;
    justify-content: center;
    margin: 5rem 0 4rem 0;
}
.projects-article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.line {
    width: 2px;
    background-color: var(---spam-color);
    height: 15rem;
}
.rigth-side{
    text-align: right;
}
.projetct-content {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.project-description {
    padding: 0.5rem;
    color: var(---font-color);
    font-family: "agrandir-Tight";
    width: 30rem;
    font-size: 1.2rem;
}
.img-project {
    width: 481px;
    border-radius: 0.5rem ;
}
.icons-content {
    width: 28rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.rigth {
    display: flex;
    justify-content: right;
}
.icon {
    width: 33px;
    margin-left: 0.8rem;
    margin-top: 1rem;
}


















footer {
    background-color: var(---background-footer);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.101);
    height: auto;
    margin-top: 6rem;
    padding-bottom: 1rem;
}
.contact-me {
    width: 50vw;
    margin: auto;
    padding: 2rem 0 ;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 1.5rem;
}

.icons a{
    cursor: pointer;
    background-color: var(---background-footer);
    padding: 0.5rem;
    border: 1px solid var(---btn-apresentation);
    border-radius: 0.5rem;
    transition-duration: 0.1s;
    margin-top: 0.8rem;
   
}
.icons a:hover{
    padding: 0.7rem;
    background-color: var(---btn-apresentation);
    margin-top: -0.8rem;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.172);
}
#copy{
    text-align: center;
    font-family:"agrandir-Tight";
    font-size: 0.8rem;
    line-height: 1.3rem;
    color:#170c0497 ;
}
#copy a{
    text-decoration: none;
    color: var(---btn-apresentation);
}
#copy a:hover{
    text-decoration: underline;
}







@media (max-width:1440px) {
    #article-about p {
        font-size: 1.2rem;
        width: 31rem;
    }
    .about-me {
        width: 90vw;
        height: 80vh;
        margin: auto;
        margin-top: 6rem;
    }
    .projects {
        width: 90vw;
        margin: auto;
        height: auto;
    }
}

@media (max-width:1140px) {
    .project-description {
        padding: 0.5rem;
        color: var(---font-color);
        font-family: "agrandir-Tight";
        width: 25rem;
        font-size: 1rem;
    }
    .img-project {
        width: 443px;
        border-radius: 0.5rem;
    }
    .projects-main {
        margin: 3rem 0 4rem 0;
    }
    .rigth{
        align-items: flex-end
        ;
    }
    #my-picture {
        width: 359px;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 14px #00000036;
    }
}

@media(max-width:988px){
    .about-me {
        width: 90vw;
        height: auto;
        margin: 6rem auto;
    }
    .about-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
        .projetct-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        box-shadow: 1px 2px 19px #0000002e;
        border-radius: 1rem;
    }
    .line {
        display: none;
    }
    .order{
        order: -1;
    }
    .rigth {
        display: flex;
        justify-content: center;
    }
    .rigth-side{
        text-align: left;
    }
    .project-description {
        text-align: center;
    }
    .icons-content {
        justify-content: center;

    }
}

@media (max-width:976px){
    .about-content {
        position: relative;
        margin-top: 3rem;
        display: block;
        margin: auto;
        width: 50vw;
    }
    #my-picture {
        top: 14rem;
        width: 327px;
        left: 13rem;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 14px #00000036;
        position: relative;
    }
    #article-about p {
        top: -18rem;
        font-size: 1.2rem;
        width: 31rem;
        position: relative;
    }
    .rigth {
        align-items: center;
    }
    
}

@media (max-width:798px){
    #my-picture {
        top: 10rem;
        width: 266px;
        left: 8rem;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 14px #00000036;
        position: relative;
    }
    #article-about p {
        top: -18rem;
        font-size: 1rem;
        width: 26rem;
        position: relative;
    }
    #my-picture {
        top: 9rem;
        width: 284px;
        left: 14rem;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 14px #00000036;
        position: relative;
    }
    .about-content {
        position: relative;
        margin-top: 3rem;
        display: block;
        margin: auto;
        width: 80vw;
    }
}
@media (max-width:600px){
    #subtitle-apresentation {
       width: 50vw;
    }
    #my-picture {
        top: 9rem;
        width: 258px;
        left: 11rem;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 14px #00000036;
        position: relative;
    }
    #article-about p {
        top: -16rem;
        font-size: 1rem;
        width: 26rem;
        position: relative;
    }
    .apresetation {
        height: 60vh;
    }
    #title-apresentation {
        font-size: 2rem;
    }
    #subtitle-apresentation {
        width: 90vw;
        font-size: 0.8rem;
    }
    .btn-apresentation {
        width: 6rem;
        font-size: 0.7rem;
    }
    .icons-header {
        display: none;
    }
    .header-content {
        padding: 1rem 2rem;
    }
    #name-header{
        font-size: 1.3rem;
    }
    .subtitles {
        font-size: 1.4rem;
    }
}
@media (max-width:500px){
    .about-me {
        width: 90vw;
        height: auto;
        margin: 4rem auto;
    }
    #article-about p {
        top: -14rem;
        font-size: 0.8rem;
        width: 19rem;
        position: relative;
    }
    #my-picture {
        top: 9rem;
        width: 232px;
        left: 7rem;
        border-radius: 0.5rem;
        box-shadow: 1px 2px 43px #0000002e;
        position: relative;
    }
    .about-content {
        position: relative;
        margin-top: 3rem;
        display: block;
        margin: auto;
        width: 70vw;
    }
    .img-project {
        width: 354px;
        border-radius: 0.5rem;
    }
    .projetct-content {
        display: flex;
        align-items: center;
        width: 80vw;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        box-shadow: 1px 2px 19px #0000002e;
        border-radius: 0;
    }
    .project-description {
        text-align: center;
        font-size: 0.8rem;
    }
    .projects-article {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    #title-apresentation {
        font-size: 1.8rem;
    }
    .apresetation {
        height: 50vh;
    }
    .project-description {
        width: 20rem;
    }
    .none{
        display: none;
    }
    
}
@media (max-width:450px){
    .projetct-content {
        width: 20rem;

    }
    .about-content {
        width: 80vw;
    }
    .projects-article {
        gap: 1rem;
        width: 21rem;
        align-items: center;
    }
    .icons-content {
        justify-content: center;
        width: 20rem;
    }
    .img-project {
        width: 300px;
        border-radius: 0.5rem;
    }
    .projetct-content {
        width: 22rem;
    }
}
@media (max-width:400px){
    .projetct-content {
        width: 17rem;
    }
    #my-picture {
        width: 215px;
    }
    #my-picture {
        top: 9rem;
        width: 215px;
        left: 6rem;
    }
    #subtitle-apresentation {
        width: 70vw;
        font-size: 0.8rem;
    }

}
@media (max-width: 368px){
    .about-content {
        width: 86vw;
    }
    #name-header {
        font-size: 1rem;
    }
    #my-picture {
        top: 9rem;
        width: 215px;
        left: 5rem;
    }
}
@media (max-width: 349px){
    .about-content {
        width: 90vw;
    }
    .project-description {
        text-align: center;
        font-size: 0.7rem;
    }
    .img-project {
        width: 270px;
    }
    .icon-content,
    .exerternal-page-icon{
        width: 1.2rem;
    }
    .project-description {
        width: 18rem;
    }
    .projetct-content {
        width: 18rem;
    }
    
}

